.catalog {
	padding: 40px 0 80px;
	min-height: 570px;
}

.catalog_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 32px;
}

.catalog_link {
	padding: 4px 16px;
	font-size: 12px;
	text-align: center;
	color: var(--c0-color);
	border: 1px solid var(--c0-light-color);
	border-radius: 8px;
}

@media (max-width: 762px) {
	.catalog {
		padding: 40px 0 40px;
	}

	.catalog_top {
		margin-bottom: 20px;
		flex-direction: column;
		gap: 0;
	}
}