.notfound {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.notfound>p {
	color: var(--8b-color);
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 24px;
}

.notfound h1 span {
	display: flex;
	font-size: 300px;
	font-weight: 700;
	align-items: center;
	justify-content: center;
	color: var(--ui-color);
	margin-top: 48px;
}

.back_btn {
	display: block;
	margin-top: 20px;
	max-width: 300px;
	text-align: center;
	border-radius: 8px;
	padding: 16px 32px;
	font-size: 16px;
	background-color: var(--ui-color);
	color: var(--white-color);
}